.c-todo {
    margin:2rem 0;
}

.c-todo-input__label {
    display:flex;
    align-items: flex-start;
}

.c-todo-input__check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;

    border: 1px solid var(--g-theme-color);

    /* opacity: 0; */
    border-radius: 50%;
    background: var(--g-neutral-200);
    transition:background 0.2s ease;
    will-change: background;

    cursor:pointer;
}

.c-todo-input__hidden:checked + .c-todo-input__label .c-todo-input__check {
    background: var(--g-theme-color);
}

.c-todo-input__icon {
    width: 1rem;
    height: 1rem;
    stroke: none;
    fill: var(--g-neutral-200);
}
.c-todo-description {
    padding-left: 1rem;
}
.c-todo-description__title {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}
.c-todo-description__category {
    color:var(--g-neutral-700);
    margin: 0;
}
